<template>
  <v-container>
    <v-card :loading="loading" class="mb-2">
      <div
        :style="loadingStyle"
        class="pa-2 pb-4 text-center d-flex flex-column align-start"
      >
        <span v-if="account" class="mt-2">
          <v-icon color="green">mdi-account-circle</v-icon>
          <span> {{ account }} </span>
        </span>
        <span v-if="lockedStatus && account" class="mt-2">
          <span v-if="!lockedStatus.locked">
            <v-icon color="green">mdi-lock-open-variant</v-icon>
            <span class="green--text"> unstack unlocked </span>
          </span>
          <span v-if="lockedStatus.locked">
            <v-icon color="red">mdi-lock</v-icon>
            <v-tooltip :activator="$refs.tooltipLock" top>
              <div class="grey darken-4 pa-4 white--text">
                for a:
                <span class="light-blue--text"> {{ lockedStatus.sec }}</span>
                seconds. Or:
                <span class="light-blue--text"> {{ lockedStatus.hrs }}</span>
                hours
              </div>
            </v-tooltip>
            <span ref="tooltipLock" class="white--text pointer">
              Unstack <span class="red--text">Locked</span>
            </span>
          </span>
        </span>
        <span class="mt-2" v-if="account">
          <span class="white--text" v-if="allow">
            <v-icon color="green">mdi-briefcase</v-icon>
            <v-tooltip :activator="$refs.tooltipAllowance" top>
              <div class="grey darken-4 pa-4 white--text">
                <span class="white--text"> Summ is: </span
                ><span class="light-blue--text">{{ uiAllowanceSumm }}</span>
              </div>
            </v-tooltip>
            <span ref="tooltipAllowance" class="pointer">
              stack <span class="green--text"> Allowed. </span>
            </span>
          </span>
          <span class="white--text" v-if="!allow">
            <v-icon color="red">mdi-briefcase-off</v-icon>
            stack <span class="red--text"> UnAllowed. </span>
          </span>
        </span>
        <span class="mt-2">
          <span class="green--text" v-if="account">
            <v-icon color="green">mdi-transit-connection-variant</v-icon>
            <span class="white--text"> metamask </span>
            Connected
          </span>
          <span class="red--text" v-if="!account">
            <v-icon color="red">mdi-lan-disconnect</v-icon>
            <span class="white--text"> metamask </span>
            Disconnected
          </span>
        </span>
      </div>
    </v-card>
    <v-row>
      <v-col>
        <v-card :disabled="!account" class="pa-4 text-center">
          <v-text-field
            :loading="loading"
            :class="'stack stack_' + mode"
            type="number"
            color="purple lighten-2"
            v-model="input0"
            :disabled="mode !== MODE0"
            :label="MODE0 + ''"
            outlined
            clearable
            append-icon="mdi-arrow-up-drop-circle-outline"
            @click:append="fullFillSumm(contracts[0])"
          >
          </v-text-field>
          <v-btn
            :loading="loading"
            color="purple"
            @click="changeMod"
            class="mb-7"
          >
            <v-icon>mdi-swap-vertical-variant</v-icon>
          </v-btn>
          <v-text-field
            :loading="loading"
            :class="'unstack unstack_' + mode"
            color="purple lighten-2"
            type="number"
            :disabled="
              (mode !== MODE1 || lockedStatus.locked) &&
              (!forceUnstack || mode !== MODE1)
            "
            v-model="input1"
            :label="MODE1 + ''"
            append-icon="mdi-arrow-up-drop-circle-outline"
            @click:append="fullFillSumm(contracts[1])"
            outlined
            clearable
          >
          </v-text-field>
          <v-btn
            :loading="loading"
            @click="stackOrUnstack"
            :disabled="!canApply"
            :color="'success'"
          >
            <span> {{ mode === MODE0 ? MODE0 : MODE1 }} </span>
          </v-btn>
        </v-card>
      </v-col>
    </v-row>
    <v-card :loading="loading" class="mt-4 pa-1 text-center d-flex flex-column">
      <v-btn
        :style="loadingStyle"
        @click="connectMetaMask"
        :disabled="!!account"
        color="success"
      >
        <span>&nbsp; connenct metamask</span>
      </v-btn>
      <v-btn
        :style="loadingStyle"
        :disabled="allow || !account"
        class="mt-1"
        @click="askAccessForStack"
        color="info"
      >
        <span> Approve </span>
      </v-btn>
    </v-card>
  </v-container>
</template>

<style lang="sass" scoped>
.v-tooltip__content.menuable__content__active
  opacity: 1!important

.pointer
  cursor: pointer
.stack
  transition: all 0.3s ease-in-out
  transform: translate3d(0, 0, 0)
  &_1
    transform: translate3d(0, 150px, 0)

.unstack
  transition: all 0.3s ease-in-out
  transform: translate3d(0, 0, 0)
  &_1
    transform: translate3d(0, -150px, 0)
</style>

<script>
import contractsData from "./stack.json";

export default {
  name: "StackUnstack",
  data: () => ({
    forceUnstack: false,
    MODE0: 0,
    MODE1: 1,
    input0: 0,
    input1: 0,
    lockedStatus: 0,
    uiAllowanceSumm: 0,
    contracts: {
      0: null,
      1: null,
    },
    allow: false,
    account: null,
    currentProvider: {},
    loading: false,
    mode: 0,
    lockTime: 0,
    lockTimer: null,
    allowance: 0,
  }),
  destroyed() {
    clearInterval(this.lockTimer);
  },
  computed: {
    loadingStyle() {
      return { visibility: this.loading ? "hidden" : "visible" };
    },
    canApply() {
      switch (this.mode) {
        case this.MODE0:
          return this.input0;
        case this.MODE1:
          return this.input1;
        default:
          return false;
      }
    },
  },

  async created() {
    this.boot();
  },
  methods: {
    getAccount(accounts) {
      if (Array.isArray(accounts) && accounts.length > 0) {
        return accounts[0];
      } else {
        return null;
      }
    },
    async boot() {
      this.loading = true;
      if (!this.account) {
        this.currentProvider = this.$getJsonRpcProvider();
        this.account = this.getAccount(
          await this.$getAccounts(this.currentProvider)
        );
      }

      if (!this.account) {
        this.loading = false;
        return;
      }

      this.createContracts(contractsData);

      this.lockedStatus = await this.isLocked(this.contracts[1]);

      this.allowance = await this.getAllowance({
        contract: this.contracts[0],
        onAddress: this.contracts[1].address,
      });

      this.allow = this.allowance > 0;
      this.uiAllowanceSumm = this.allowance * 1;

      if (this.lockedStatus.locked) {
        this.lockTimer = setInterval(async () => {
          this.lockedStatus = await this.isLocked(this.contracts[1]);
          if (!this.lockedStatus.locked) {
            clearInterval(this.lockTimer);
          }
        }, 1000);
      }

      this.$disconnect().then(() => {
        this.account = null;
        clearInterval(this.lockTimer);
      });

      this.loading = false;
    },
    async getAllowance({ contract, onAddress }) {
      return this.$options.filters.bigNumber(
        await contract.allowance(this.account, onAddress)
      );
    },
    changeMod() {
      this.input0 = 0;
      this.input1 = 0;
      if (this.mode === this.MODE0) {
        this.mode = this.MODE1;
      } else {
        this.mode = this.MODE0;
      }
    },
    formatSumm(num) {
      return Number((num * 1).toFixed(10));
    },
    async stackOrUnstack() {
      this.validate({
        ...(await this.getSumms(this.contracts[this.mode])),
        contract: this.contracts[1],
      }).then(this.mode === 0 ? this.stackReady : this.unstackReady);
    },
    async getSumms(contract) {
      const contractSumm = await this.getSumm(contract);
      let inputSumm = this.formatSumm(this["input" + this.mode]);
      return { inputSumm, contractSumm };
    },
    async validate({ inputSumm, contractSumm, contract }) {
      if (inputSumm > contractSumm) {
        return Promise.reject();
      } else if (!(await this.isLocked(contract).locked)) {
        return Promise.resolve();
      }
    },
    async stackReady() {
      this.loading = true;
      try {
        const amount = this.$ethers.utils.parseUnits(this.input0);
        const result = await this.contracts[1].mint(amount);
      } catch (error) {}
      this.loading = false;
    },
    async unstackReady() {
      this.loading = true;
      try {
        const amount = this.$ethers.utils.parseUnits(this.input1);
        const result = await this.contracts[1].burn(this.account, amount);
      } catch (error) {}
      this.loading = false;
    },
    async askAccessForStack() {
      this.loading = true;
      try {
        const tx = await this.contracts[0].approve(
          this.contracts[1].address,
          "0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"
        );
        const receipt = await tx.wait();
        this.allow = true;
        this.loading = false;
      } catch (error) {
        this.allow = false;
        this.loading = false;
      }
    },
    async isLocked(contract) {
      if (!contract) {
        return {
          locked: true,
          msg: "no contract",
        };
      }
      const users = await contract.users(this.account);
      const lockTimestamp = users.lockedUntil.toString() * 1;
      if (lockTimestamp === 0) return { locked: false, msg: "success" };
      const timeNow = new Date().getTime() / 1000;
      const diff = timeNow - lockTimestamp;
      const diffModule = diff * -1;
      if (diff <= 0) {
        return {
          locked: true,
          sec: diffModule.toFixed(0),
          hrs: (diffModule / 60 / 60).toFixed(3),
          msg: "locked",
        };
      } else {
        return {
          locked: false,
          msg: "success",
        };
      }
    },
    async getSumm(contract) {
      const parseSumm = this.$options.filters.bigNumber;
      return parseSumm(await contract.balanceOf(this.account));
    },
    async fullFillSumm(contract) {
      this["input" + this.mode] = await this.getSumm(contract);
    },
    createContracts(data) {
      return Object.keys(data)
        .map((name) => ({
          hash: data[name].hash,
          contractScheme: data[name].contractScheme,
          provider: this.currentProvider,
          account: this.account,
        }))
        .map(this.$createContract)
        .forEach((contract, key) => {
          this.contracts[key] = contract;
        });
    },
    async connectMetaMask() {
      this.loading = true;
      if (!this.account)
        this.$connectWallet(async (accounts) => {
          if (accounts.error) {
          } else {
            const account = this.getAccount(accounts);
            if (account) {
              this.account = account;
              this.boot();
            }
          }
          this.loading = false;
        });
    },
  },
};
</script>
