<template>
  <v-app>
    <v-navigation-drawer v-model="drawer"
      absolute
      temporary app>
    <v-list dense>
      <v-subheader>GO TO</v-subheader>
      <v-list-item-group
        v-model="selectedItem"
        dark
      >
        <v-list-item to="/contract">
          <v-list-item-content>
            <v-list-item-title v-text="'Contract'"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
         <v-list-item  to="/stack">
          <v-list-item-content>
            <v-list-item-title v-text="'stack'"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    </v-navigation-drawer>

    <v-app-bar color="deep-purple accent-4" app>
      <template #bar></template>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" color="pink"></v-app-bar-nav-icon>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app>
      <!-- -->
    </v-footer>
  </v-app>
</template>
<style lang="sass">

</style>
<script>
export default {
  name: "App",
  methods: {
    drawerClickOut(e) {
      if(e.target.className === "v-overlay__scrim") {
        this.$emit('hide-drawer',false);
        this.drawer = false
      }
    },
    drawerFalse() {
      this.drawer = false
    }
  },
  watch: {
    selectedItem() {
      this.drawer = false
    }
  },
  data: () => ({
    selectedItem: 0,
    drawer: false
  }),
};
</script>
